*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family:"Open Sans","Arial", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
.nav-list-items {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}   

/* container */
.container{
    width:100%;
    max-width:1160px;
    padding-left:30px;
    padding-right:30px; 
    margin-right: auto;
    margin-left: auto;
}
.hero{
   background-color: rgba(14, 180, 193, 1);
   width: 1140px;
   height: 533px;
}
.main-link{
    text-decoration: none;
}