*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family:"Open Sans","Arial", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
.site-header{
    padding-top: 24px;
    padding-bottom: 24px;
}
.site-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
    font-size: 24px;
    font-weight: 600;
}
.site-logo-img{
    margin-right:16px ;
}
.site-logo:hover{
 color: #DE2E54;
}
.site-logo:active{
opacity: 0.6;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.sitenav-list {
text-decoration: none;
list-style-type: none;
display: flex;
align-items: center;
padding: 0;
margin: 0;
list-style: 0;  
}
.sitenav{
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;

}  
.site-nav-item:not(:last-child){
    margin-right: 32px;
}
.sitenav-link{
 display: block;
 color: #222;
 text-decoration: none;
}
.sitenav-link:hover{
    color: #DE2E54;
}
.sitenav-link:active{
 opacity: 0.6;
}
/* container */
.container{
    width:100%;
    max-width:1160px;
    padding-left:30px;
    padding-right:30px; 
    margin-right: auto;
    margin-left: auto;
}
.hero{
   background-color: rgba(14, 180, 193, 1);
   width: 1140px;
   height: 533px;
}
.main-link{
    text-decoration: none;
    display: inline-block;
    padding: 10px 22px;
    border: solid 2px transparent;
    border-radius: 8px;
    font-size: 15px;
    font-family: "Open Sans Condensed","Arial" sans-serif ;
    color: #fff;
    background-color:#DE2E54;
    text-transform: uppercase;
}
.main-link:hover{
    background-color: #fff;
    color: #DE2E54;
    border-color: #DE2E54;
}
.main-link:active{
    background-color: #DE2E54;
    color: #fff;
    opacity: 0.6;
}
*:focus{
    outline: 2px dotted #DE2E54;
    outline-offset: 2px;
}